<h1>Editing teams</h1>

<% form_for(@team) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Manage players', :controller => 'players', :action => 'index', :team_id => @team %>
<!--<%= link_to 'Manage players', players_path %> --><br/><br/>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', :action => 'index', :championship_id => @team.championship %>
