<h1>Editing championship</h1>

<% form_for :championship, :url => {:action => :update}, :html => {:method => :put} do |form| %>
  <%= form.error_messages %>

  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %><br />
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :number_teams %><br />
    <%= form.text_field :number_teams, :disabled => true %>
  </p>
  <p>
    <%= form.label :match_type %><br />
    <%= form.select :match_type, Championship::CHAMPIONSHIP_TYPES %>
  </p>
  <p>
    <%= form.label :image_url %><br />
    <%= form.text_field :image_url %>
  </p>
  <p>
    <%= submit_tag "Update", :class => "submit" %>
  </p>
<% end %>

<%= link_to 'Show', @championship %> |
<%= link_to 'Back', championships_path %>
