<h1>New championship</h1>
<%= error_messages_for 'championship' %>

<% form_for :championship, :url => { :action => :create } do |form| %>

  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %><br />
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :number_teams %><br />
    <%= form.text_field :number_teams %>
  </p>
  <p>
    <%= form.label :match_type %><br />
    <%= form.select :match_type,
                    Championship::CHAMPIONSHIP_TYPES,
                    :prompt => "Select an type" %>
  </p>
  <p>
    <%= form.label :image_url %><br />
    <%= form.text_field :image_url %>
  </p>
  <p>
    <%= submit_tag "Create", :class => "submit" %>
  </p>
<% end %>

<%= link_to 'Back', championships_path %>
