<h1>Editing match</h1>

<% form_for(@match) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= @match.home_team.name %> <%= f.text_field :home_score, :size => 1 %> X <%= f.text_field :away_score, :size => 1 %> <%= @match.away_team.name %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status, :size => 1 %>
  </p>
  <p>
    <%= f.label :round %><br />
    <%= f.text_field :round, :size => 1 %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @match %> |
<%= link_to 'Back', :controller => :matches, :championship_id => @match.championship %>
