<h1>New match</h1>

<% form_for(@match) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :home_team %><br />
    <%= f.text_field :home_team %>
  </p>
  <p>
    <%= f.label :away_team %><br />
    <%= f.text_field :away_team %>
  </p>
  <p>
    <%= f.label :home_score %><br />
    <%= f.text_field :home_score %>
  </p>
  <p>
    <%= f.label :away_score %><br />
    <%= f.text_field :away_score %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :championship %><br />
    <%= f.text_field :championship %>
  </p>
  <p>
    <%= f.label :round %><br />
    <%= f.text_field :round %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', matches_path %>
